.table_widget{ :id => id }
  .title
    .links
      - table_links.each do |link|
        = '&nbsp;' * 2
        = link_to link[:title], link[:url]
    = title
    .categories
      .indicator
        = widget_image :widgets, :table, 'indicator.gif'
      - categories.each_index do |index|
        - categories[index].each do |key, value|
          %div{ :id => key, :class => index > 0 ? 'selectable' : 'selected' }
            = value
      